/* Home.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .description {
    text-align: center;
  }
  
  .tab1 {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tdlinks {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .links {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .links:hover {
    color: #007bff;
  }